@page
@model BookLinks.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div clacc="row">
        <h1 class="mb-4">
            Каталог BookLinks
        </h1>
        <div class="col-12">
            @foreach (var item in Model.Book)
            {
                @if (item.ImageContent == "")
                {
                    <a asp-page="/MyBooks/MyDetails" asp-route-id="@item.Id"><img src="/img/notimage.jpg" width="250" height="350"/></a>
                }
                else
                {
                    <a asp-page="/MyBooks/MyDetails" asp-route-id="@item.Id"><img src="@item.ImageContent" width="250" height="350" /></a>
                }
            }
        </div>
   </div>
</div>
