@model BookLinks.Repositories.Models.Link

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h2>
        Вы уверены что хотите удалить ссылку №@Html.DisplayFor(model => model.Id) у книги "@Html.DisplayFor(model => model.Book.Name)"?
    </h2>
    <div class="col-md-12">
        <div>
            <h4>
                <a href="@Model.Path" class="btn btn-success rounded-pill mt-2" target=" _blank">Ссылка: @Model.Path</a>
            </h4>
        </div>
    </div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Да" class="btn btn-success mt-4 mb-2 rounded-pill" />
        <a onclick="history.back()" class="btn btn-danger mt-4 mb-2 rounded-pill">Нет</a>
    </form>
</div>
