@page
@model BookLinks.Web.Pages.MyBooks.MyCreateLinksModel
@{
    ViewData["Title"] = "CreateLinks";
}

<div class="row">
    <h4>Создание ссылки.</h4>
    <div class="form-floating mb-3">
        <div>
            <a asp-page="MyCreateLinks" class="btn btn-success mt-4 mb-2 rounded-pill">Создать</a>
            <a asp-page="MyEditLinks" class="btn btn-success mt-4 mb-2 rounded-pill">Изменить</a>
            <a asp-page="MyDeleteLinks" class="btn btn-danger mt-4 mb-2 rounded-pill">Удалить</a>
        </div>

        @using (Html.BeginForm("My", "MyBooks", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Link.BookId" class="form-select">
                    @foreach (var item in Model.AllBooks)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Link.Path" class="control-label mt-2"> Путь </label>
                <input asp-for="Link.Path" class="form-control mt-2" />
                <span asp-validation-for="Link.Path" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success mt-4 mb-2 rounded-pill" />
                <a asp-page="My" class="btn btn-danger mt-4 mb-2 rounded-pill">Назад</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
