@page
@model BookLinks.Web.Pages.MyBooks.MyCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Создание.</h1>

<div class="row">
    <div class="form-floating mb-3">
        @using(Html.BeginForm("My","MyBooks", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="Book.Name" class="control-label mt-2"></label>
                <input asp-for="Book.Name" class="form-control mt-2" />
                <span asp-validation-for="Book.Name" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label mt-2"></label>
                <input asp-for="Book.Author" class="form-control mt-2" />
                <span asp-validation-for="Book.Author" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label mt-2"></label>
                <textarea asp-for="Book.Description" class="form-control mt-2" rows="4"> </textarea>
                <span asp-validation-for="Book.Description" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Released" class="control-label mt-2"></label>
                <input asp-for="Book.Released" class="form-control mt-2" />
                <span asp-validation-for="Book.Released" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Rating" class="control-label mt-2"></label>
                <input asp-for="Book.Rating" class="form-control mt-2" />
                <span asp-validation-for="Book.Rating" class="text-danger mt-2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.OriginalFileName" class="control-label mt-2"> Обложка книги </label>
                <input asp-for="Book.OriginalFileName" class="form-control" type="file">
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Book.Links" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success mt-4 mb-2 rounded-pill" />
                <a asp-page="My" class="btn btn-danger mt-4 mb-2 rounded-pill">Назад</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
