@page
@model BookLinks.Web.Pages.MyBooks.MyDeleteModel
@{
    ViewData["Title"] = "MyDelete";
}

<div class="row">
    <h2>
        Are you sure you want to delete the book @Html.DisplayFor(m => m.Book.Name);?
    </h2>

    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <input type="submit" value="Yes" class="btn btn-success mt-4 mb-2" />
        <a asp-page="My" class="btn btn-danger mt-4 mb-2">No</a>
    </form>
</div>

